<div id="<%= dom_id trip %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= trip.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= trip.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start at:</strong>
    <%= trip.start_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End at:</strong>
    <%= trip.end_at %>
  </p>

</div>
