<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @trip %>

    <%= link_to "Edit this trip", edit_trip_path(@trip), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to trips", trips_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this trip", @trip, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>

<div class="w-full">
  <% content_for :title, "Activities" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Activities</h1>
    <%= link_to "New activity", new_trip_activity_path(@trip), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="activities" class="min-w-full">
    <% @activities.each do |activity| %>
      <%= render activity %>
      <p>
        <%= link_to "Show this activity", trip_activity_path(@trip, activity), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      </p>
    <% end %>
  </div>
</div>
