<div id="<%= dom_id activity %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= activity.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= activity.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Trip:</strong>
    <%= activity.trip_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Reference number:</strong>
    <%= activity.reference_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start at:</strong>
    <%= activity.start_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End at:</strong>
    <%= activity.end_at %>
  </p>

</div>
